<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style/main.css">
<link rel="stylesheet" href="style/partials/page-landing.css">
</head>
<body id="page-landing">

    <div id="container">
        <div class="logo-container">
            <img src="/images/logo.svg" alt="Proffy">
            <h2>Plataforma de estudos</h2>
        </div>
        <img class="hero-image" src="/images/landing.svg" alt="plataforma">
        <div class="buttons-container">
            <a class="study" href="/study">
                <img src="/images/icons/study.svg" alt="estudar">
                Estudar
            </a>
            <a class="give-classes" href="/give-classes">
                <img src="/images/icons/give-classes.svg" alt="Ensinar">
                Dar Aulas
            </a>
        </div>
        <p class="total-connections">
            total de x conexões já realizadas
            <img src="/images/icons/purple-heart.svg" alt="">
        </p>
    </div>
</body>
</html>